/* @font-face {
    font-family: 'ClashDisplay';
    src: url('../public/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'ClashDisplay', sans-serif;
  }
  
  
  .App {
    text-align: center;
  }
  .app-container{
    background-color: #0F0F0F;
    padding: 20px;
  } */
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .bento-card-icon{
    width: 60px;
    height: 60px;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .bento-grid-container{
  
      /* display: flex;
      flex-wrap: wrap; */
      /* gap: 20px; */
      padding: 10px;
    
  }
  .bento-card-container{
    transition: transform 0.3s ease-in-out;
  }
  
  .bento-card-container:hover {
    transform:  translateY(-30px);
  }
  
  .bento-card-container:active {
    transform: scale(1.05) translateY(-5px);
  }
  
  .hero-container-section{
    height: 400px; /* Fixed height */
    padding: 13px;
  }