.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgba(51, 51, 51, 0.5); /* semi-transparent background */
    color: white;
    gap: 3rem;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* subtle shadow */
    backdrop-filter: blur(10px); /* glassmorphism effect */
    -webkit-backdrop-filter: blur(10px); /* glassmorphism effect for Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* border for glassmorphism */
  }
  
  .navbar-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .navbar-logo-image {
    width: 40px;
    height: 40px;
    /* height: 30px; Adjust according to your logo size */
  }
  
  .navbar-links {
    display: flex;
    gap: 4rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .navbar {
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0.5rem;
      border-radius: 15px;
    }
  
    .navbar-links {
      display: none;
    }
  
    .navbar-logo {
      display: flex;
      justify-content: center;
    }
  }
  